<!DOCTYPE html>
<html>
  <head>
    <title>EngineerAiTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <%= link_to 'EngineerAiTest', root_path, class: "navbar-brand" %>

      <% if signed_in? %>
        <%= link_to I18n.t('questions.title'), questions_path, class: "m-2 btn btn-primary" %>
        <span class="m-2"><%= current_user.email %></span>
        <%= link_to I18n.t('common.sign_out'), destroy_user_session_path, method: :delete, class: "m-2 btn btn-secondary" %>
      <% else %>
          <%= link_to I18n.t('common.sign_in'), user_session_path, class: "m-2 btn btn-success" %>
          <%= link_to I18n.t('common.sign_up'), new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>